In [1]:
print("HELLO WORLd")

HELLO WORLd

In [2]:
a = int(input("enter the value = "))
b = int(input("enter the value = "))
c = a+b;
print("the answer  is = ",c)

enter the value = 5
enter the value = 5
the answer  is =  10

In [12]:
 a = 1
 b = 10
a,b=b,a

print(" the swapped value :", a,b)

 the swapped value : 10 1

In [14]:
km = float(input("enter the kilometer = "))
cf=0.621371
m = cf*km
print("miles = ",m)

enter the kilometer = 1
miles =  0.621371

In [19]:
a = int(input("enter the value = "))
if a>0 :
    print("positive")
else:
    print("negative")

enter the value = -9
negative

In [20]:
year = int(input("enter the value = "))
if(year%4==0) :
    print("LEAP YEAR")
else :
    print("NOT A LEAP YEAR")

enter the value = 2094
NOT A LEAP YEAR

In [ ]:
lower=int(input("Enter lower limit value: "))
upper=int(input("Enter upper limit value: "))
for num in range(lower, upper + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

In [17]:
n= int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if n <= 0:
   print("Please enter a positive integer")

elif n == 1:
   print("Fibonacci sequence upto",n,":")
   print(n1)

else:
   print("Fibonacci sequence:")
   while count < n:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

In [5]:
num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 4
4 is not an Armstrong number

In [3]:
num = 16
if num < 0:
       print("Enter a positive number")
else:
       sum = 0
   # use while loop to iterate until zero
       while(num > 0):
            sum+=num
            num-=1
print("The sum is", sum)

The sum is 136

In [5]:
#Write a function called show_stars(rows). If rows are 5, it should print the following:
#*
#**
#***
#****
#*****

num_rows = int(input("Enter the number of rows"));
k = 1
for i in range(0, num_rows):
    for j in range(0, k):
        print("* ", end="")
    k = k + 1
    print()

Enter the number of rows5
*
* *
* * *
* * * *
* * * * *

In [23]:
print("removing a string ")
print(remove_chars("apple",2))

removing a string
Original string: apple
ple

In [35]:
#Iterate the given list of numbers and print only those numbers which are divisible by 5
a = [1,2,3,4,5,25,6,7,8,9]
for i in a: 
    if i%5==0:
        print("the number divisible by 5 is ")
        print(i)

the number divisible by 5 is
5
the number divisible by 5 is
25

In [57]:
#Write a program to find how many times substring “Hi” appears in the given strinG
a_str = "Hihihihhhi "
a_sub = "Hi"
print("the original string is ",a_str)
print("the original substring is ",a_sub)
f = a_str.count(a_sub)
print("total ",f)

the original string is  Hihihihhhi
the original substring is  Hi
total  1

In [58]:
#Print the following pattern
#1 
#2 2 
#3 3 3 
#4 4 4 4 
#5 5 5 5 5

print("1")
print("2  2")
print("3  3  3")
print("4  4  4  4")
print("5  5  5  5  5")

1
2  2
3  3  3
4  4  4  4
5  5  5  5  5

In [63]:
#Write a program to check if the given number is a palindrome number.
#A palindrome number is a number that is same after reverse. For example, 545, is the palindrome numbers)

num = input("Enter a number")
if num == num[::-1]:
    print("Yes its a palindrome")
else:
    print("No, its not a palindrome")

Enter a number45
No, its not a palindrome

In [65]:
#Python program to interchange first and last elements in a list

# Swap function
def swapList(sl):
    n = len(sl)
      
    # Swapping 
    temp = sl[0]
    sl[0] = sl[n - 1]
    sl[n - 1] = temp
      
    return sl
      
l = [10, 14, 5, 9, 56, 12]

print(l)
print("Swapped list: ",swapList(l))

[10, 14, 5, 9, 56, 12]
Swapped list:  [12, 14, 5, 9, 56, 10]

In [1]:
#Python program to swap two elements in a lists

def swapPositions(list, pos1, pos2):
	
	list[pos1], list[pos2] = list[pos2], list[pos1]
	return list

# Driver function
List = [23, 65, 19, 90]
pos1, pos2 = 1, 3

print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

In [4]:
#Python | Ways to find length of list
# Python len()
li = [10, 20, 30]
n = len(li)
print("The length of list is: ", n)
# Python code to demonstrate
# length of list
# using naive method
test_list = [1, 4, 5, 7, 8]
print("The list is : " + str(test_list))
counter = 0
for i in test_list:

	counter = counter + 1

# Printing length of list
print("Length of list using naive method is : " + str(counter))

The length of list is:  3
The list is : [1, 4, 5, 7, 8]
Length of list using naive method is : 5

In [5]:
#n=int(input("Enter number of element in list"))
mylist=[]
print("Enter elements of the list")
for _ in range(n):
    a=int(input())
    mylist.append(a)
maximum=max(mylist)
print("Maximum of the list is :",maximum)

Enter elements of the list
2
1
2
Maximum of the list is : 2

In [7]:
#Minimum of two numbers in Python
# Python program to find smallest
# number in a list

# list of numbers
list1 = [10, 20]

# sorting the list
list1.sort()

# printing the first element
print("Smallest element is:", list1[0])

Smallest element is: 10

In [4]:
#Python program to check whether the string is Symmetrical or Palindrome
val=input("Enter sting value: ")
print("palindrome checking:\n")
if val==val[::-1]:
    print("It is a pallindrome")
else:
    print("It is not a pallindrome")
print("symmentrical checking:\n")
half=len(val)//2
if val[half:]==val[:half]:
    print("It is symmentrical")
else:
    print("It is not symmentrical")

Enter sting value: 456
pallindrome checking:

It is not a pallindrome
symmentrical checking:

It is not symmentrical

In [9]:
#Reverse words in a given String in Python
# Python code
# To reverse words in a given string

# input string
string = "geeks quiz practice code"
# reversing words in a given string
s = string.split()[::-1]
l = []
for i in s:
	# appending reversed words to l
	l.append(i)
# printing reverse words
print(" ".join(l))

code practice quiz geeks

In [11]:

#Ways to remove i’th character from string in Python
test_str = "geeksforgeeks"
# Removing char at pos 3
new_str = ""

for i in range(len(test_str)):
	if i != 2:
		new_str = new_str + test_str[i]

# Printing string after removal
print ("The string after removal of i'th character : " + new_str)

The string after removal of i'th character : geksforgeeks

In [12]:
#Find length of a string in python 
# Python code to demonstrate string length
# using len

str = "geeks"
print(len(str))

5

In [15]:
#Python program to print even length words in a string
# Python code
# To print even length words in string

#input string
n="This is a python language"
#splitting the words in a given string
s=n.split(" ")
for i in s:
#checking the length of words
    if len(i)%2==0:
	    print(i)

# this code is contributed by gangarajula laxmi

This
is
python
language

In [20]:
# Python program to find the size of a tuple 

# Creating a tuple in python 
myTuple = ('includehelp', 'python', 3, 2021)

# Finding size of tuple using len() method 
tupleLength = len(myTuple)

# Printing the tuple and Length
print("Tuple : ", (myTuple))
print("Tuple Length : ", tupleLength)

Tuple :  ('includehelp', 'python', 3, 2021)
Tuple Length :  4

In [3]:
#Python – Sum of tuple elements
t=(1,2,3,4,5)
print("Sum of elements in the tuple:",sum(t))

Sum of elements in the tuple: 15

In [2]:
#Python – Row-wise element Addition in Tuple Matrix
tmat = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
for row in tmat:
    s=sum(row)
    print("Row sum:",s)

Row sum: 6
Row sum: 15
Row sum: 24

In [ ]:
t=(1,2,3,4,5)
print("Maximum value= ",max(t))
print("Minimum value= ",min(t))